@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
  src: url("fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and(max-width:1023) {
}

@media (min-width: 1024px) {
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* navbar */
.navbar2 {
  width: 100%;
  background-color: white;
  padding: 1rem;
  .nav-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 767px) {
      justify-content: space-between;
    }

    .nav-links {
      display: flex;
      gap: 3rem;
      list-style-type: none;
      a {
        text-decoration: none;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    #iconbar {
      display: none;
      @media (max-width: 767px) {
        display: flex;
      }
    }
  }
}
/* section one page */
.one-page {
  background-color: #8e6e08;

  .parent-onepage {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .one-page-imges {
      img {
        width: 700px;
        @media (max-width: 767px) {
          width: 400px;
        }
      }
    }
    .one-page-content {
      h1 a {
        text-decoration: none;
        color: #a9b7cd;
      }
      p {
        color: white;
        letter-spacing: 5px;
        font-weight: 600;
      }
      h1 {
        color: white;
      }
      span {
        color: #a9b7cd;
        font-weight: 600;
        a {
          color: #a9b7cd;
        }
      }
      button {
        color: white;
        padding: 15px 35px;
        border-radius: 2rem;
        font-weight: 900;
        background-color: #2a2b48;
        border: 1rem;
      }
      button:hover {
        cursor: pointer;
        background-color: #08080e;
      }
      @media (max-width: 767px) {
        display: grid;
        place-items: center;
      }
    }
    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }
}
/* section two page */
.two-page {
  padding: 3rem 0;
  .two-page-content {
    width: 60%;
    text-align: center;
    margin: auto;
    padding-bottom: 3rem;

    h1 {
      font-size: xxx-large;
      @media (max-width: 767px) {
        font-size: x-large;
      }
    }
    p {
      font-size: smaller;
      padding-top: 1rem;
      word-spacing: 5px;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  .two-page-imges {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .images-content {
      width: 45%;
      height: 300px;
      color: #b4bfd3;
      background-color: #8e6e08;
      display: flex;
      align-items: center;
      img {
        width: 100%;
        height: 300px;
      }
      .pad-content {
        padding: 1rem;
      }
      button {
        color: white;
        padding: 15px 35px;
        border-radius: 2rem;
        font-weight: 900;
        background-color: rgb(255, 255, 255, 0.1);
        border: 1rem;
      }
      button:hover {
        cursor: pointer;
        background-color: #08080e;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    @media (max-width: 767px) {
      flex-direction: column;
    }
    .parenttt {
      display: flex;
      justify-content: center;
      @media (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}
/* section three page */
.three-page {
  background-color: #2a2b48;
  position: relative;
  margin-bottom: 50rem;
  .three-page-content {
    width: 60%;
    text-align: center;
    margin: auto;
    padding-bottom: 30rem;
    h1 {
      font-size: xxx-large;
      padding-top: 3rem;
      color: white;
      @media (max-width: 767px) {
        font-size: x-large;
      }
    }
    p {
      font-size: smaller;
      padding: 1rem;
      word-spacing: 5px;
      color: white;
    }
    button {
      color: white;
      padding: 15px 35px;
      border-radius: 2rem;
      font-weight: 900;
      background-color: rgb(255, 255, 255, 0.1);
      border: 1rem;
    }
    button:hover {
      cursor: pointer;
      background-color: #08080e;
    }
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 100%;
    }
  }
  .three-page-images {
    position: absolute;
    top: 50%;
    left: 17%;
    @media (max-width: 767px) {
      left: 5%;
    }

    img {
      width: 70%;
      @media (max-width: 767px) {
        width: 90%;
      }
    }
    .images-content {
      background-color: #181a1b;
      width: 45%;
      border-radius: 5px;
      padding: 3rem 1rem;
      color: white;
      position: absolute;
      top: 22%;
      right: 7%;

      p {
        word-spacing: 5px;
        padding: 1rem 0;
      }
      button {
        color: white;
        padding: 15px 35px;
        border-radius: 2rem;
        font-weight: 900;
        background-color: rgb(255, 255, 255, 0.1);
        border: 1rem;
        &:hover {
          background-color: #f2c91b;
          cursor: pointer;
        }
      }
      @media (max-width: 767px) {
        width: 90%;
        top: 85%;
        right: 5%;
      }
    }
  }
  .three-page-icons {
    display: flex;
    position: absolute;
    left: 5%;
    bottom: -70%;
    gap: 3rem;
    @media (max-width: 767px) {
      flex-direction: column;
      top: 155%;
    }
    .icons {
      flex: 1;
      height: 100px;
      @media (max-width: 767px) {
        flex: 0 0 auto;
        height: auto;
      }
      .back-icon {
        width: 135px;
        border-radius: 50%;
        background-color: #7d620b;
        position: relative;
        height: 135px;
        left: 35%;
        img {
          position: absolute;
          left: -25px;
          bottom: -25px;
          width: 100px;
        }
      }
      h1 {
        padding: 2rem 1rem 1rem 1rem;
        text-align: center;
      }
      p {
        padding: 1rem;
        word-spacing: 10px;
        text-align: center;
      }
    }
  }
  @media (max-width: 767px) {
    margin-bottom: 120rem;
  }
}
/* four-page */
.four-page {
  .parent-four-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .left-page {
      width: 50%;
      margin-right: 40px;
      .back-left-page {
        margin: 20px;
        .left-page-content {
          background-color: #8e6e08;
          padding: 20px 30px;
          margin-bottom: 70px;
          border-bottom-left-radius: 50px;
          border-bottom-right-radius: 50px;
          p {
            word-wrap: break-word;
            color: white;
            font-size: xx-large;
            letter-spacing: 6px;
          }
          h1 {
            font-size: 4.375rem;
            color: white;
          }
        }
        p {
          word-spacing: 5px;
          letter-spacing: 1px;
          font-size: 1.1rem;
          font-weight: 600;
        }
        button {
          color: white;
          padding: 15px 35px;
          border-radius: 2rem;
          font-weight: 900;
          background-color: #2a2b48;
          border: 1rem;
          &:hover {
            cursor: pointer;
            background-color: #08080e;
          }
        }
      }
    }
    .right-page {
      width: 35%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .right-page-content {
        img {
          width: 300px;
          border-radius: 50%;
        }
      }
      .top-page {
        display: flex;
        align-items: center;
        gap: 20px;
        .top-imge {
          img {
            background-color: #2a2b48;
            border-radius: 30%;
            width: 100%;
            padding: 5px;
          }
        }
        .top-content {
          p {
            word-spacing: 5px;
            font-size: 1rem;
            font-weight: 600;
          }
        }
      }
      .bottom-page {
        display: flex;
        align-items: center;
        .bottom-imge {
          img {
            background-color: #2a2b48;
            border-radius: 30%;
            width: 75%;
            padding: 10px;
          }
        }
        .bottom-content {
          p {
            word-spacing: 5px;
            font-size: 1rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}
.five-page {
  background-color: #8e6e08;
  .parent-five-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-content {
      width: 50%;
      color: #dddad6;
      h4 {
        color: white;
        letter-spacing: 5px;
      }
      p {
        font-size: large;
        word-spacing: 5px;
      }
      span {
        font-size: large;
        word-spacing: 5px;
      }
      button {
        color: white;
        padding: 15px 35px;
        border-radius: 2rem;
        font-weight: 900;
        background-color: #2a2b48;
        border: 1rem;
        &:hover {
          cursor: pointer;
          background-color: #08080e;
        }
      }
    }
    .right-content {
      width: 50%;
      img {
        width: 550px;
      }
    }
  }
}
/* sex-page */
.sex-page {
  height: 100vh;
  margin: 5% 0;
  color: white;
  .parent-sex-page {
    display: flex;
    .left-sex-page {
      width: 55%;
      height: 100vh;
      .top-sex-page {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url(imges/dftg.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 55vh;
        h1 {
          position: relative;
          top: 30%;
          left: 5%;
        }
        a {
          position: relative;
          top: 30%;
          left: 5%;
        }
        img {
          width: 70px;
          background-color: rgb(255 255 255 / 50%);
          padding: 5px;
          border-radius: 15px;
        }
      }
      .bottom-sex-page {
        width: 100%;
        height: 45vh;
        display: flex;
        .left-bottom {
          background-image: url(imges/asd.jpg);
          width: 45%;
          height: 100%;
          background-size: cover;
          background-position: center;
        }
        .right-bottom {
          width: 55%;
          height: 100%;
          background-color: #8e6e08;
          padding: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .links {
            display: flex;
            justify-content: space-evenly;
            img {
              width: 40px;
              height: 40px;
              background-color: rgb(255 255 255 / 50%);
              padding: 5px;
              border-radius: 15px;
            }
          }
        }
      }
    }
    .right-sex-page {
      width: 45%;
      height: 100vh;
      .top-right {
        width: 100%;
        height: 50vh;
        background-color: #2a2b48;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        button {
          color: white;
          padding: 15px 35px;
          border-radius: 2rem;
          font-weight: 900;
          background-color: #08080e;
          border: 1rem;
          &:hover {
            cursor: pointer;
            background-color: #8e6e08;
          }
        }
      }
      .bottom-right {
        width: 100%;
        height: 50vh;
        background-image: url(imges/esg.jpg);
        background-size: cover;
      }
    }
  }
}
/* seven-page */
.seven-page {
  background-image: url(imges/manager-woman-leading-4-min.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .seven-content {
    width: 50%;
    height: 40vh;
    background-color: black;
    color: white;
    margin-bottom: -90vh;
    padding: 20px;
    text-align: center;
    p {
      word-spacing: 5px;
    }
    button {
      color: white;
      padding: 15px 35px;
      border-radius: 2rem;
      font-weight: 900;
      background-color: #2a2b48;
      border: 1rem;
      &:hover {
        cursor: pointer;
        background-color: white;
        color: black;
      }
    }
  }
}
/* eight-page */
.eight-page {
  padding-top: 30vh;
  background-color: #2a2b48;
  .parent-eight {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      padding-bottom: 10px;
      font-size: large;
      font-weight: 500;
      color: white;
      a {
        color: whitesmoke;
      }
    }
  }
  h1 {
    padding-bottom: 15vh;
    color: white;
  }
  .eight-content {
    background-image: url(imges/vbvbvbvb.jpg);
    background-position: center;
    background-size: cover;
    width: 90%;
    min-height: 60vh;
    display: flex;
    justify-content: space-evenly;
    .box {
      background-color: black;
      width: 150px;
      height: 150px;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -10vh;
      p {
        padding: 15px;
        font-weight: 900;
        font-size: large;
      }
    }
  }
}
/* nine-page */
.nine-page {
  background-color: #2a2b48;
  color: white;
  padding: 10vh 0;
  .parent-page {
    display: flex;
    justify-content: space-between;
    .nine-content {
      width: 30%;
      display: flex;
      flex-direction: column;
      min-height: 50vh;
      justify-content: space-around;
      form {
        display: flex;
        flex-direction: column;
        input,
        textarea {
          padding: 15px;
          margin-bottom: 20px;
          border: 1px solid #ccc;
          border-radius: 10px;
          font-size: 16px;
          outline: none;
          transition: all 0.3s ease;
          &:focus {
            border-color: #007bff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
          }
        }
        textarea {
          min-height: 120px;
          resize: vertical;
        }
        button {
          color: white;
          padding: 15px 35px;
          border-radius: 2rem;
          font-weight: 900;
          background-color: black;
          border: 1rem;
          &:hover {
            cursor: pointer;
            background-color: white;
            color: black;
          }
        }
      }
      .links {
        display: flex;
        justify-content: space-evenly;
        img {
          width: 40px;
          height: 40px;
          background-color: rgb(255 255 255 / 50%);
          padding: 5px;
          border-radius: 15px;
        }
      }
    }
  }
}
